body {
  margin: 0;
  padding: 0;
  font-family: Bahnschrift Light;
}

#about {
  position: absolute;
  width: 80%;
  height: 100%;
  left: 20%;
}

#line {
  padding: 0.4%;
  background-color: #FF9700;
  width: 50%;
}


iframe {
  width: 80%;
  height: 500px;
  margin-left: 10%;
}

#line-content {
  padding: 0.050%;
  background-color: gray;
  width: 99%;
  margin: 0 auto;
  margin-top: 10%;
}
