body {
  margin: 0;
  padding: 0;
  font-family: Bahnschrift Light;
}

#about {
  position: absolute;
  width: 40%;
  height: 100%;
  left: 60%;
}

#line {
  padding: 0.4%;
  background-color: #FF9700;
  width: 20%;
}


iframe {
  width: 100%;
  height: 400px;
}
