#logo img {
  width: 60%;
  height: 60%;
}

#image {
  position: absolute;
  width: 40%;
  height: 100%;
  left: 20%;
  background-image: url(../pic/wojtek.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#eng img {
  width: 15%;
  height: 5%;
  position: absolute;
  top: 25%;
  left: 10%;
}

#pl img {
  width: 15%;
  height: 5%;
  position: absolute;
  top: 25%;
  left: 70%;
}

#pic img {
  margin-top: 5%;
  width: 80%;
  height: 50%;
  margin-left: 10%;
}

#pic-second img {
  margin-top: 5%;
  width: 40%;
  height: 10%;
  margin-left: 30%;
}

#third {
  margin-top: 5%;
  width: 80%;
  height: 10%;
  margin-left: 10%;
}
