#left-panel {
  background-color: black;
  height: 100%;
  width: 20%;
  position: fixed;
}

#menu ul {
  position: fixed;
  top: 30%;
  width: 15%;
  list-style-type: none;
  margin: 0;
}

#menu li {
  color: white;
  padding: 5px;
  border-bottom: 1px solid;
  border-bottom-color: white;
}

#menu li:hover {
  transition: 0.5s;
  color: #FF9700;
}

#menu h3 {
  font-weight: 50;
  letter-spacing: 2px;
}

#copyright {
  width: 50%;
  height: 5%;
  position: absolute;
  top: 95%;
  left: 30%;
}

#logo {
  top: 50px;
  position: absolute;
  left: 30%;
  margin: 0 auto;
}
